<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รายละเอียดเจ้าของ</title>
    <link rel="stylesheet" href="/css/detail.css">
</head>

<body>
    <h1>รายละเอียดเจ้าของ</h1>
    <div class="line-top-bottom">
        <div class="form-group">
            <form id="userForm" action="" method="post">
                <label class="green-box">HN: <input type="text" name="hn" value="<%= user.hn %>" required></label>
                <script>
                    function splitName() {
                        const fullname = '<%= user.name %>'
                        const nameParts = fullname.split(' ')
                        if (nameParts.length >= 2) {
                            const firstname = nameParts[0]
                            const lastname = nameParts.slice(1).join(' ')

                            document.getElementById('firstname').value = firstname
                            document.getElementById('lastname').value = lastname
                        }
                    }
                    document.addEventListener('DOMContentLoaded', splitName)

                    // ฟังก์ชันตรวจสอบฟอร์ม
                    function validateForm() {
                        let form = document.getElementById('userForm')
                        let isValid = true
                        let errorMessage = ''

                        // ตรวจสอบชื่อ
                        const firstname = document.getElementById('firstname').value
                        const lastname = document.getElementById('lastname').value
                        if (firstname.trim() === '' || lastname.trim() === '') {
                            errorMessage += 'กรุณากรอกชื่อและนามสกุลให้ครบ. \n'
                            isValid = false
                        }

                        // ตรวจสอบเบอร์ติดต่อ
                        const phone = document.querySelector('input[name="phone_number"]').value
                        if (phone.trim() === '') {
                            errorMessage += 'กรุณากรอกเบอร์ติดต่อ. \n'
                            isValid = false
                        }

                        // ตรวจสอบอีเมล
                        const email = document.querySelector('input[name="email"]').value
                        if (email.trim() === '') {
                            errorMessage += 'กรุณากรอกอีเมล. \n'
                            isValid = false
                        }

                        // ถ้ามี error ให้แสดงข้อความ
                        if (!isValid) {
                            alert(errorMessage)
                        }
                        return isValid
                    }
                </script>
                <label class="green-box">ชื่อ: <input type="text" name="firstname" id="firstname" required></label>
                <label class="green-box">นามสกุล: <input type="text" name="lastname" id="lastname" required></label>
                <label class="green-box">เบอร์ติดต่อ: <input type="text" name="phone_number"
                        value="<%= user.phone_number %>" required></label>
                <label class="green-box">Email: <input type="email" name="email" value="<%= user.email %>"
                        required></label>
            </form>
        </div>
        <div class="button-container">
            <button class="cancel" type="button" onclick="window.location.href='/users'">Cancel</button>
            <button class="add" type="ิbutton" onclick="setAddAction()">Add</button>
            <button class="save" type="button" onclick="setSaveAction()">Save</button>
            <form action="/users/delete/<%= user.id %>" method="post">
                <button class="delete" type="submit">Delete</button>
            </form>
        </div>
    </div>
    <script>
        // ฟังก์ชันเมื่อกดปุ่ม add
        function setAddAction() {
            var form = document.getElementById('userForm')
            if (validateForm()) {
                form.action = '/users/add/<%= user.id %>'
                form.method = 'post'
                form.submit()
            }
        }
        // ฟังก์ชันเมื่อกดปุ่ม save
        function setSaveAction() {
            var form = document.getElementById('userForm')
            if (validateForm()) {
                form.action = '/users/update/<%= user.id %>'
                form.method = 'post'
                form.submit()
            }
        }
    </script>
</body>

</html>